* {

    transition: 0.1s;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
  }
  html,
  body {
    background-color: #EAEBED;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    box-shadow:  2px 2px 4px #01676e;
    color: #04AA6D;
    width: 800px;
    height: 480px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  .card .wordLeft,
  .card .wordRight {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    margin-top: 100px;
    z-index: 4;
    color: #FFFFFF;
    position: absolute;
    padding: 16px;
  }
  .card .wordLeft label,
  .card .wordRight label {
    color: #3A7B99;
    font-weight: 900;
    position: absolute;
    margin-top: 239px;
  }
  .card .wordLeft {
    width: 300px;
    flex-direction: column;
    margin-left: -300px;
  }
  .card .wordRight {
    right: 0;
    width: 300px;
    flex-direction: column;
  }
  .card .loginPage,
  .card .registerPage {
    color: #008cbb;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 500px;
    height: 480px;
    border-radius: 0px;
  }
  .card .loginPage .login,
  .card .registerPage .login {
    margin-top: 4px;
    width: 100px;
    height: 40px;
    border-radius: 16px;
    border: none;
    color: #fff;
    background-color: #3A7B99;
    cursor: pointer;
  }
  
  .card .loginPage .group,
  .card .registerPage .group {
    margin: 8px;
  
  }
  .card .loginPage .group label,
  .card .registerPage .group label {
    margin-right: 4px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000f4;
    padding-inline-end: 1px;
  }
  .card .registerPage {
    right: 0;
    opacity: 0;
  }
  .card .cover {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 480px;
    border-radius: 0px;
    position: absolute;
    right: 0px;
    background-color: #3A7B99;
    color: rgb(211, 211, 211);
  }
  .card .cover #changePage {
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 16px;
    border: none;
    margin-top: 160px;
    color: #3A7B99;
    background-color: #fff;
    font-size: 20px;
  }
  input[type="date"]{
    background-color:#03e8fd58;
    padding:5px;
    
    font-family: "Roboto mono",monospace;
    color:#000000;
    font-size: 15px;
    border:none;
    outline:none;
    border-radius:35px;
    margin-bottom: 15px;
    margin-top: 15px;
  margin-left: 20px;
  }
  input[type="date"]:hover{background-color: #eaeaea;
    color:#201b1b;
    font-size: 15px;
    border:none;
    outline:none;
    border-radius:25px;
    margin-bottom: 25px;
    margin-top: 25px;
    
    }
  ::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding:2px;
    cursor:pointer;
    border-radius: 15px;
    color:#ffffff;
  
  }
  .tiny-text{ 
    margin-left: 50px;
    font-family: "Roboto mono",monospace;
    color: #008cbb;
    font-size: 12px;
  }
  .tiny-text:hover{ 
   
    background-color: #96e0fda4;
    font-size:15px;
    border-radius: 10px;
    
  }
  .button {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
    background-color: #03ddfa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #2E424D;
  }
  
  .button:hover {background-color: #ffffff;
    color: #000000;
  }
  
  .button:active {
    background-color: #00b89f;
    box-shadow: 0 5px #2E424D;
    transform: translateY(4px);
  }
  
  
  
  
  
  input[type="email"]{
    background-color: #03e8fd58;
    padding:5px;
    align-items:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:#000000;
    font-size: 12px;
    font-style: italic;
    border-radius: 45px;
    margin-left: 27px;  
    text-align: center;
  font-weight: bolder;
  font-style: italic;
    
  }
  
  
  input[type="password"]{
    background-color: #03e8fd58;;
    padding:5px;
    align-items:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:#000000;
    font-size: 12px;
    font-style: italic;
    border-radius:45px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
      
    
  }
  
  
  input[type="text"]{
    background-color: #03e8fd58;
    padding:5px;
    align-items:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:#000000;
    font-size: 12px;
    font-style: italic;
    border-radius:45px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
      
    
  }
  
  
  input[type="checkbox"]{
   
  
    place-items: center;
    
  }
  
  
  h1
  {
    margin-left: 50px;
    color:  #014151;
    padding:5px;
  }